extends layout

block content
  h1 MayaCI
  p.lead
    | MayaCI is a continuous integration server utilizing git hooks to build applications in Docker containers. It is named after Mayāsura, a king of ancient times who was considered a great architect.

  p.lead MayaCI can be used to implement the following.
    ul.lead
       li Use git hooks to automatically test builds on commit/merge/rebase
       li Use Docker to run the build script in a container
       li Run test script in the container. If tests pass, allow to download the image as tarball or push the container image either to the public index or a private index
       li Give a dashboard to configure/analyze builds
       li Allow adding customized plugins

  if user
    .alert.alert-success.animated.fadeInUp
      i.fa.fa-check
      strong Success!
      |  You are logged in.